FILES_PATH=

# DB
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_CONTAINER=

# App (Spring)
APP_PORT=
DOMAIN=
WEB_PROTOCOL=
YOUTUBE_API_KEY=
CHANNEL_ID=
SPRING_MAIL_PASSWORD=
OPENAI_API_KEY=
APPLICATION_SECURITY_JWT_SECRET_KEY=
APP_FILES_PATH=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=
