<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Robots-Review</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><h4>RoboBG</h4></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/compare}">Compare</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class ="container">
    <div class = "row">
        <h1> All Robots </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/admin/new}" class = "btn btn-outline-dark btn-sm mb-3"> Add Robot</a>
        </div>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th>ID</th>
            <th>MODEL</th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "robot: ${robots}">
            <td th:text = "${robot.id}"></td>
            <td th:text = "${robot.model}"></td>
            <td>
                <a th:href = "@{/admin/{id}(id=${robot.id})}"
                   class = "btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>

</div>


</body>
</html>