<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Robots-Review</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/31c3612559.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Function for dynamic form -->
    <script type="text/javascript">
    var cloneLimit = 3;
	$(document).ready(function(){
		$("#addField").click(function(){
		    if ($('#cloneplace .duplicate').length <= cloneLimit){
    		    $("#firstduplicate .duplicate").clone().find('input').val('').end().find('textarea').val('').end().appendTo("#cloneplace");
    		    }
        });
        $("#removeField").click(function(){
            $("#cloneplace .duplicate").last().remove();
        });
    });


    </script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><h4>RoboBG</h4></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/compare}">Compare</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-5 container justify-content-sm-center">
            <h1 class="text-center"> Robots to compare: </h1>
            <div class="card-body">
                <form th:action="@{/robots}" method="get">
                    <div class="form-group">
                        <input
                                list="robots"
                                type="text"
                                name="data"
                                class="form-control"
                                placeholder="Choose a robot from the list"
                        />
                        <datalist id="robots">
                            <div th:each="robot : ${robots}">
                                <option th:value="${robot.model}"></option>
                            </div>
                        </datalist>
                    </div>
                    <div id="firstduplicate">
                        <div class="duplicate">
                            <p class="text-muted text-center"><strong>vs.</strong></p>
                            <div class="form-group">
                                <input
                                        list="robots"
                                        type="text"
                                        name="data"
                                        class="form-control"
                                        placeholder="Choose a robot from the list"
                                />
                                <datalist>
                                    <div th:each="robot : ${robots}">
                                        <option th:value="${robot.model}"></option>
                                    </div>
                                </datalist>
                            </div>
                        </div>
                    </div>

                    <div id="cloneplace"></div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-outline-dark">
                            Compare
                        </button>
                        <button type="button" class="btn btn-outline-dark" id="addField">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-outline-dark" id="removeField">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>