<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Robots-Review</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><h4>RoboBG</h4></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/compare}">Compare</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class ="container">
    <div th:if="${not #lists.isEmpty(robots)}">
        <table style="width:100%" class="table table-secondary">
           <tr>
               <th>Model</th>
               <div th:each="robot : ${robots}">
               <td th:text="${robot.model}"></td>
               </div>
           </tr>
            <tr>
                <th>Noise Level</th>
                <div th:each="robot : ${robots}">
                <td th:text="${robot.noiseLevel} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>Mapping Sensor Type</th>
                <div th:each="robot : ${robots}">
                <td th:text="${robot.mappingSensorType} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>Auto Dock And Recharge</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.autoDockAndRecharge} ?: 'N/A'"></td>
                </div>
            </tr>
        </table>
    </div>
</div>


</body>
</html>