<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Robots-Review</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
table, td, th {
  height : 90px;
  width: 20%;
}

table {
  border-collapse: collapse;
}
th {
  width: 20%;
}
</style>

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><h4>RoboBG</h4></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/compare}">Compare</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class ="container">
    <div th:if="${not #lists.isEmpty(robots)}">
        <table style="width:100%" class="table table-striped">
            <tr>
                <th>MODEL</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.model}"></td>
                </div>
            </tr>
            <tr>
                <th>MAPPING / PATH PLANNING</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.mapping} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>MAPPING SENSOR TYPE</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.mappingSensorType} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>HIGH-PRECISION MAP</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.highPrecisionMap} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>FRONT CAMERA</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.frontCamera} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>RECHARGE & RESUME</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.rechargeResume} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
            <tr>
                <th>AUTOMATICALLY DOCKS AND RECHARGES</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.autoDockAndRecharge} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>NOISE LEVEL</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.noiseLevel} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>DISPLAY</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.display} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>SIDE BRUSHES</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.sideBrushes} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>VOICE PROMPTS</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.voicePrompts} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th class="table-dark">Cleaning Features</th>
                <div th:each="robot : ${robots}">
                    <td class="table-dark"></td>
                </div>
            </tr>
            <tr>
                <th>SUCTION POWER</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.CleaningFeatures.suctionPower} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>CLEANING AREA</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.CleaningFeatures.cleaningArea} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>DUSTBIN CAPACITY</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.CleaningFeatures.dustbinCapacity} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>DISPOSABLE DUSTBAG CAPACITY</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.CleaningFeatures.disposableDustBagCapacity} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>AUTOMATIC DIRT DISPOSAL</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.CleaningFeatures.autoDirtDisposal} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>BARRIER-CROSS HEIGHT</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.CleaningFeatures.barrierCrossHeight} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>HEPA FILTER</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.CleaningFeatures.hepaFilter} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>WASHABLE FILTER</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.CleaningFeatures.washableFilter} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th class="table-dark">Mopping Features</th>
                <div th:each="robot : ${robots}">
                    <td class="table-dark"></td>
                </div>
            </tr>
            <tr>
                <th>WET MOPPING</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.MoppingFeatures.wetMopping} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>ELECTRIC WATER FLOW CONTROL</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.MoppingFeatures.electricWaterFlowControl} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>WATER TANK CAPACITY</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.MoppingFeatures.waterTankCapacity} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>VIBRATING MOPPING PAD</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.MoppingFeatures.vibratingMoppingPad} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>AUTOMATIC MOP LIFTING</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.MoppingFeatures.autoMopLifting} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>AUTO WATER TANK REFILLING</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.MoppingFeatures.autoWaterTankRefilling} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>AUTO MOP WASHING</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.MoppingFeatures.autoMopWashing} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th class="table-dark">Battery</th>
                <div th:each="robot : ${robots}">
                    <td class="table-dark"></td>
                </div>
            </tr>
            <tr>
                <th>BATTERY CAPACITY</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Battery.batteryCapacity} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>BATTERY LIFE</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Battery.batteryLife} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>CHARGING TIME</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Battery.chargingTime} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>RATED POWER</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Battery.ratedPower} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th class="table-dark">Control</th>
                <div th:each="robot : ${robots}">
                    <td class="table-dark"></td>
                </div>
            </tr>
            <tr>
                <th>SCHEDULING</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Control.scheduling} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>IR/RF REMOTE CONTROL</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Control.Ir_Rf_RemoteControl} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>WI-FI / SMARTPHONE APP</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Control.wifiSmartphoneApp} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>WI-FI FREQUENCY BAND</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Control.wifiFrequencyBand} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>AMAZON ALEXA SUPPORT</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Control.amazonAlexaSupport} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>GOOGLE ASSISTANT SUPPORT</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Control.googleAssistantSupport} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>MAGNETIC/OPTICAL VIRTUAL WALLS</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Control.magneticVirtualWalls} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th class="table-dark">App Features</th>
                <div th:each="robot : ${robots}">
                    <td class="table-dark"></td>
                </div>
            </tr>
            <tr>
                <th>REAL-TIME TRACKING</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.AppFeatures.realTimeTracking} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>DIGITAL BLOCKED AREAS</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.AppFeatures.digitalBlockedAreas} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>ZONED CLEANING</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.AppFeatures.zonedCleaning} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>MULTI-FLOOR MAPS</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.AppFeatures.multiFloorMaps} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>MANUAL MOVEMENT CONTROL</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.AppFeatures.manualMovementControl} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>SELECTED ROOM CLEANING</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.AppFeatures.selectedRoomCleaning} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>NO-MOP ZONES</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.AppFeatures.noMopZones} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th class="table-dark">Sensors</th>
                <div th:each="robot : ${robots}">
                    <td class="table-dark"></td>
                </div>
            </tr>
            <tr>
                <th>CARPET BOOST</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Sensor.carpetBoost} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>ANTI-DROP / CLIFF SENSOR</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Sensor.cliffSensor} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>DIRT SENSOR</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Sensor.dirtSensor} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>FULL DUSTBIN SENSOR</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.Sensor.fullDustbinSensor} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th class="table-dark">Other Specifications</th>
                <div th:each="robot : ${robots}">
                    <td class="table-dark"></td>
                </div>
            </tr>
            <tr>
                <th>WEIGHT</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.OtherSpecifications.weight} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>WIDTH</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.OtherSpecifications.width} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>HEIGHT</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.OtherSpecifications.height} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>IN THE BOX</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.OtherSpecifications.inTheBox} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>RELEASE DATE</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.OtherSpecifications.releaseDate} ?: 'N/A'"></td>
                </div>
            </tr>
            <tr>
                <th>WARRANTY</th>
                <div th:each="robot : ${robots}">
                    <td th:text="${robot.OtherSpecifications.warranty} ?: 'N/A'"></td>
                </div>
            </tr>
        </table>
    </div>
</div>


</body>
</html>