
#root {
  overflow: hidden;
  min-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

Footer {
  margin-top: auto;
}

.choose-robot {
  max-width: 250px;
  margin: 20px;
  margin-right: 10px;
}

.login-form {
  max-width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.add-div {
  margin-top: 5px;
  justify-content: center;
}
.add-button {
  margin: 20px;
  margin-left: 0px;
}

.table-container {
  max-width: 1000px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.select-div {
  margin: auto auto;
}

.select-div button {
  max-height: 50px;
  margin: auto auto;
}


.two-buttons > button{
  margin: 13px 70px;
}

.image-in-table {
  width: 70px;
  display: block;
}


footer {
  margin-top: auto;
}





.single-robot-container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

.single-robot-image {
  width: 200px;
}

.text-pointer-on-hover:hover {
  cursor: pointer;
  color: rgb(73, 73, 73);
}

.position-custom {
  position: absolute;
  top: 1rem; /* Adjust as necessary */
  right: 0.50rem; /* Adjust as necessary */
}

.bg-custom-gray {
  background-color: rgb(220, 220, 220);
}

.table-container .stickycell {
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.1);
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px 5px;
  overflow: hidden;
}

.table-container th {
  z-index: 10;
}

.table-container tbody th {
  position: sticky;
  width: 0px!important;
  text-align: left;
  left: 0px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: table-cell;
  background: none;
  font-weight: normal;
}

.table>thead {
  vertical-align: bottom;
}

thead, tbody, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
  min-height: 150px;
}



