
#root {
  overflow: hidden;
  min-height: 100%;
}


.choose-robot {
  max-width: 213px;
  margin: 20px;
  margin-right: 10px;
}

.login-form {
  max-width: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.add-div {
  margin-top: 15px;
  justify-content: center;
}
.add-button {
  margin: 20px;
  margin-left: 0px;
}

.table-container {
  max-width: 700px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

td {
  text-align: center;
  max-width: 80px;
}

th {
  max-width: 80px;
  word-break: break-all;
}

.itb-col {
  height: 80px;
  word-break: break-all;
}

.cdu-container {
  max-width: 550px;
  margin: 20px auto;
  padding: 15px;
}

.cdu-container .form-control-sm {
  max-width: 300px;
  display: inline;
  margin-bottom: 5px;
}

.select-div {
  margin: auto auto;
}

.select-div button {
  max-height: 50px;
  margin: auto auto;
}

.form-inputs {
  margin: 6px auto;
  text-align: center;
}

.two-buttons > button{
  margin: 13px 70px;
}

.image-in-table {
  width: 70px;
  display: block;
}
.image {
  position: relative;
  width: 70px;
  margin: auto;
}
.image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
}
.image-overlay:hover {
  opacity: 1;
}
.fa-xmark {
  font-size: 70px;
}

footer {
  margin-top: auto;
}

.admin-label{
  margin-right: 7px;
}

